<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/MyPage1.css}" rel="stylesheet" type="text/css">
</head>
<body>

<form th:action="@{/myPage1}" th:object="${page1Object}" method="post">
    <table class="inputTable">
        <tr>
            <th><h1 th:field="*{toShowHead}" /></th>
            <th><h1 th:field="*{toShowHead}" /></th>
        </tr>
        <tr>
            <td><input type="String" size="5" th:field="*{toShowTitleUserIn}"></td>
            <td><input type="String" size="5" th:field="*{ptoShowHeadUserIn}"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
            </td>
        </tr>
    </table>
</form>

</body>
</html>